<tr> 
    <th scope="row">
    	<span name="d{{this}}val" value="{{this}}">D{{this}}</span>
    </th> 
    <td>
        <div class="input counter">
            <input type="text" name="d{{this}}" class="form-control input-number" data-original-value="1" value="1" min="0">
        </div>
    </td> 
    <td>
        <div class="input counter">
            <input type="text" name="d{{this}}mod" class="form-control input-number" data-original-value="0" value="0">
        </div>
    </td>
    <td>
        <button type="button" value="d{{this}}" class="btn btn-default roll">
            <span>Roll</span>
        </button></td>
    <td>
        <div class="input counter">
            <input type="text" name="d{{this}}result" id="d{{this}}result" class="form-control input-number">
        </div>
    </td>
</tr> 